.nav-link:hover {
    color: #00f;
    /* Set the color on hover as needed */
    cursor: pointer;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-item {
    margin-right: 10px;
    /* Adjust margin as needed */
}

.nav-link {
    text-decoration: none;
    /* Optional: Remove underline */
    color: #000;
    /* Set the text color as needed */
    transition: color 0.3s ease;
    /* Optional: Add a smooth color transition */
}

.nav-link:hover {
    color: #007bff;
    /* Set the hover color as needed */
}