.nav-link {
  text-decoration: none; /* Optional: Remove underline */
  color: #000; /* Set the text color as needed */
  transition: color 0.3s ease; /* Optional: Add a smooth color transition */
}

.nav-link:hover {
  color: #00f; /* Set the color on hover as needed */
  cursor: pointer;
}