table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;
    padding: 8px;
    background-color: #f2f2f2;
}

td,
th {
    text-align: left;
    padding: 8px;
}

input {
    width: 98%;
}